body {
    margin: 0;
}

header {
    background: linear-gradient(50deg, blue, darkblue);
    text-align: center;
    color: white;
}

form {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid lightgrey;
}

#search-history button {
    margin-bottom: 15px;
}

#today {
    height: 25%;
    border: 2px solid black;
}

#uvi {
    padding: 0 5px;
    border-radius: 20%;
}

.green {
    background: green;
}
.yellow {
    background: yellow;
}
.orange {
    background: orange;
}
.red {
    background: red;
}
.purple {
    background: purple;
}

.align-content-space-between {
    align-content: flex-start;
}

.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}